
/*------------------style sheet for website----------------------*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica, sans-serif;
    margin-bottom: 40px;
}

p {
    font-size: 12px;
}

/*-----------------------styling for images------------------------*/

.babe {
    position: block;
    width: 100px;
    margin-top: 45px;
    margin-bottom: 15px;
}

/*------------------------styling by section------------------------*/

#container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    padding-bottom: 30px;
    max-width: 850px;
    background-color: white;
}
